<div class="row well">
  <div class="padding-left">
    <a class="btn-sm btn-info" href="/">Back to Task Manager</a>
    <a class="btn-sm btn-success col-md-offset-9" href="/tasks/new">New task</a>
  </div>
  <h1 class="text-center">All Tasks</h1>
</div>

<div class="container text-center">
  <% @tasks.each do |task| %>
    <div class="task row">
      <h3><%= task.id %>: <a href="/tasks/<%= task.id %>"><%= task.title %></a></h3>
      <a class="btn-sm btn-info" href="/tasks/<%= task.id %>/edit">Edit</a>
      <form class="simple-form" action="/tasks/<%= task.id %>" method="POST">
        <input type="hidden" name="_method" value="DELETE">
        <input class="btn-xs btn-danger" type="submit" value="delete"/>
      </form>
    </div>
  <% end %>
</div>
